<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732429054016-e9g5k0ga50grq4kip4emmlcu88o6q1e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732429054016-e9g5k0ga50grq4kip4emmlcu88o6q1e3</string>
	<key>API_KEY</key>
	<string>AIzaSyBTqzL8tu4F7-fBVvMywFQJ2Cxzadu40sg</string>
	<key>GCM_SENDER_ID</key>
	<string>732429054016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minanamli.test</string>
	<key>PROJECT_ID</key>
	<string>test-35ba8</string>
	<key>STORAGE_BUCKET</key>
	<string>test-35ba8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732429054016:ios:aca8abcf0c0fdfbf8cefa5</string>
</dict>
</plist>